<!DOCTYPE html>
<html lang="en" ng-app="tuxedo">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/grid.css">
  <link rel="stylesheet" href="/css/global-styles.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/sub-pages.css">
  <link rel="stylesheet" href="/css/el-liderato.css">
  <link rel="stylesheet" href="/css/el-liderato-national-discussions-challenges.css">
  <link rel="stylesheet" href="/css/el-liderato-national-organizers.css">
  <link rel="stylesheet" href="/css/el-liderato-national-venue.css">
  <link rel="stylesheet" href="/css/el-liderato-national-guidelines.css">
  <link rel="stylesheet" href="/css/el-liderato-national-program.css">
  <link rel="stylesheet" href="/css/el-liderato-travel-guide.css">
</head>
<body ng-controller="mainController">
  <header id="sub-page-tux-header">
    <section class="container">
      <ul class="tux-sub-menu">
        <li><a href="<%= jlink('AppController') %>" class="menu-btn">Home</a></li>
        <li><a href="<%= jlink('AppController') %>" class="logo"><img src="/img/logo-tuxedo.png"></a></li>
        <li><a href="<%= jlink('AppController' , 'register') %>" class="menu-btn">Register Online</a></li>
        <section class="clear"></section>
      </ul>
    </section>
  </header>
  <section class="cover-photo">
    <section class="container">
      <img class="img" src="/img/cover-photo.jpg" alt="El Liderato">
    </section>
  </section>

  <%- body %>

  <section id="foot-cols">
    <section class="container">
      <p>Share us on</p>
      <a href ng-click="fbShare()"><img src="/img/facebook.png" alt=""></a>
      <a href ng-click="twitterShare()"><img src="/img/twitter.png" alt=""></a>
    </section>
  </section>
  <section id="footer">
    <section class="container">
      <section class="copyright">
        <p>All rights reserved by Tuxedo Institute of the Philippines, Copyright {{thisYear}}</p>
      </section>
      <section class="webnified">
        <p>Designed and Developed by <a href="http://webnified.com">Webnified Inc.</a></p>
      </section>
    </section>
  </section>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://malsup.github.com/jquery.cycle2.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script type="text/javascript" src="/js/angular-script.js"></script>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '342332449269852',
        xfbml      : true,
        version    : 'v2.1'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-39125088-3', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>