<section id="el-liderato">
    <section class="container">
      <section class="download-pdf">Click to download as &rarr; <a target="_blank" href="https://drive.google.com/file/d/0By7gtr9H4_hda2FBbUdtOUJnSWs/view?usp=sharing">PDF</a></section>
      <% include ../side-bars/side-bar.ejs %>
      <section class="main-content">
        <section class="wrapper">
          <section class="content-heading"><h1>Ten National Leadership Challenges</h2></section>
          <section class="content-body">
            <br/>
            <ul id="leadership-challenges">
              <li>
                <section class="thumb">
                  <img src="/img/1.jpg" alt="">
                </section>
                <section class="lc-content">
                  <p class="title">1. Integrity</p>
                  <p>This <strong>El Liderato National Challenge</strong> <u>pit stop</u> will test each Youth Leader’s personal choice, an uncompromising and predictably consistent commitment to honor moral, ethical, spiritual and artistic values and principles. As integrity is regarded by many people as honest, truthfulness or accuracy, we will further examine each Youth Leader’s internal consistency on this as a virtue, and suggest methods that will enable these youth leaders to account for the discrepancy if they apparently have conflicting values– <em>reflection &amp; processing by El Liderato.</em></p>
                </section>
                <section class="clear"></section>
              </li>
              <li>
                <section class="thumb"><img src="/img/2.jpg" alt=""></section>
                <section class="lc-content">
                  <p class="title">2. Competence</p>
                  <p>This <strong>El Liderato National Challenge</strong> <u>pit stop</u> will test each Youth Leader’s standardized requirement in executing average to above-average leadership management procedures in predictable and unpredictable affairs. As competence is regarded by many people as mental capacity, cognitive skills or brain knowledge, we will further examine each Youth Leader’s’ internal consistency on this as a virtue, and suggest methods that will enable these youth leaders to increase their mental capabilities if they apparently underestimated the concept of being truly knowledgeable in leadership – <em>reflection &amp; processing by El Liderato.</em></p>
                </section>
                <section class="clear"></section>
              </li>
              <li>
                <section class="thumb"><img src="/img/3.jpg" alt=""></section>
                <section class="lc-content">
                  <p class="title">3. Communication</p>
                  <p>This <strong>El Liderato National Challenge</strong> <u>pit stop</u> will test each Youth Leader’s capacity to develop an area of communicative commonality in leading a team even across vast distances in time and space. As communication is regarded by many people as an activity that can be done personally, through letters or through other means, we will further examine each Youth Leader’s internal consistency on this as a virtue, and suggest methods that will enable these youth leaders to set forth better communicative conducts if they apparently are currently experiencing difficulties by being misunderstood – <em>reflection &amp; processing by El Liderato.</em></p>
                </section>
              </li>
              <li>
                <section class="thumb"><img src="/img/4.jpg" alt=""></section>
                <section class="lc-content">
                  <p class="title">4. Faith</p>
                  <p>This <strong>El Liderato National Challenge</strong> <u>pit stop</u> will test each Youth Leader’s belief based on spiritual confidence, trust in a person, chosen deity– that is not based on proof. As faith is regarded by many people as hope, trust or confidence, we will further examine each Youth Leader’s internal consistency on this as a virtue, and suggest methods that will enable these youth leaders to personally go through the realms of their beliefs if they apparently do not yet experience the potential inspiration of this credence– <em>reflection &amp; processing by El Liderato.</em></p>
                </section>
              </li>
              <li>
                <section class="thumb"><img src="/img/5.jpg" alt=""></section>
                <section class="lc-content">
                  <p class="title">5. Decision Making</p>
                  <p>This <strong>El Liderato National Challenge</strong> <u>pit stop</u> will test each Youth Leader’s cognitive capacity resulting in the selection of a belief or a course of action among several alternative possibilities. As decision making is regarded by many people as identifying and choosing alternatives based on values and preferences, we will further examine each Youth Leader’s internal consistency on this as a virtue, and suggest methods that will enable these youth leaders to realize this as a central activity in management if they apparently miscalculated the risk that can be produced, if this is undervalued – <em>reflection &amp; processing by El Liderato.</em></p>
                </section>
              </li>
              <li>
                <section class="thumb"><img src="/img/6.jpg" alt=""></section>
                <section class="lc-content">
                  <p class="title">6. Resilience</p>
                  <p>This <strong>El Liderato National Challenge</strong> <u>pit stop</u> will test each Youth Leader’s proactive and determined attitude to remain a thriving individual despite the emergence of anticipated and unanticipated challenges. As resilience is regarded by many people as empowerment of being aware of your vulnerabilities and relative capabilities to deal with them, we will further examine each Youth Leader’s internal consistency on this as a virtue, and suggest methods that will enable these youth leaders to make determined and strategic decisions despite hardships if they apparently cultivate faintheartedness – <em>reflection &amp; processing by El Liderato.</em></p>
                </section>
              </li>
              <li>
                <section class="thumb"><img src="/img/7.jpg" alt=""></section>
                <section class="lc-content">
                  <p class="title">7. Resourcefulness</p>
                  <p>This <strong>El Liderato National Challenge</strong> <u>pit stop</u> will test each Youth Leader’s capability to maximize reserves, supplies and talents wisely and efficiently. As resourcefulness is regarded by many people as clever, ingenious or inventive, we will further examine each Youth Leader’s internal consistency on this as a virtue, and suggest methods that will enable these youth leaders to create or produce out of the available materials and skills if they apparently unravelled quite such perspectives – <em>reflection &amp; processing by El Liderato.</em></p>
                </section>
              </li>
              <li>
                <section class="thumb"><img src="/img/8.jpg" alt=""></section>
                <section class="lc-content">
                  <p class="title">8. Pro-active</p>
                  <p>This <strong>El Liderato National Challenge</strong> <u>pit stop</u> will test each Youth Leader’s optimism opacity in service and being able to carry on despite difficult times. As pro-activity is regarded by many people as the ability to be positive in intervening or controlling an unexpected occurrence, we will further examine each Youth Leader’s internal consistency on this as a virtue, and suggest methods that will enable these youth leaders to become a good source of inspiration and motivation even in negative situations if they apparently undermine the strength of this value – <em>reflection &amp; processing by El Liderato.</em></p>
                </section>
              </li>
              <li>
                <section class="thumb"><img src="/img/9.jpg" alt=""></section>
                <section class="lc-content">
                  <p class="title">9. Initiative</p>
                  <p>This <strong>El Liderato National Challenge</strong> <u>pit stop</u> will test each Youth Leader’s power in maximizing opportunity to act or take charge before others do. As initiative is regarded by many people as inventiveness, common sense or ingenuity, we will further examine each Youth Leader’s internal consistency on this as a virtue, and suggest methods that will enable these youth leaders to use imagination and basic senses to accomplish things independently if they apparently don’t capitalize on this value – <em>reflection &amp; processing by El Liderato.</em> </p>
                </section>
              </li>
              <li>
                <section class="thumb"><img src="/img/10.jpg" alt=""></section>
                <section class="lc-content">
                  <p class="title">10. Discipline</p>
                  <p>This <strong>El Liderato National Challenge</strong> <u>pit stop</u> will test each Youth Leader’s assertion of willpower over more base desires, through an enforcement of order–that is, ensuring instructions are carried out and regulated. As discipline is regarded by many people as self-control, we will further examine each Youth Leader’s internal consistency on this as a virtue, and suggest methods that will enable these youth leaders to incorporate code of conducts in their leadership preferences and lifestyle if they apparently have management control frails – <em>reflection &amp; processing by El Liderato.</em><br/></p>
                  <p>&nbsp;</p>
                </section>
              </li>
            </ul>
          </section>
        </section>
      </section>
      <section class="clear"></section>
    </section>
  </section>  