<section id="el-liderato">
    <section class="container">
      <section class="download-pdf">Click to download as &rarr; <a target="_blank" href="https://drive.google.com/file/d/0By7gtr9H4_hdS2taSE4wZ0pEOFk/view?usp=sharing">PDF</a></section>
      <% include ../side-bars/side-bar.ejs %>
      <section class="main-content">
        <section class="wrapper">
          <section class="content-heading"><h1>Eight National Leadership Discussions</h2></section>
          <section class="content-body">
            <br/>
            <ul id="leadership-challenges">
              <li>
                <section class="thumb no-radius">
                  <img src="/img/rappler_logo.jpg" alt="">
                </section>
                <section class="lc-content">
                  <p class="title">1. Media Responsibility</p>
                  <p><strong>Rappler Inc.</strong> <em>(Invited Organization)</em>. Philippine Media Responsibility has been one of the top National Development Discussions for earning great ratings on credibility and power this generation. We will discuss further how even the young leaders can take part in sustaining the vital integrity of the information and news, when these communications are released in radio, televisions, newspapers and social media sites. – <em>Discussion handled by National Honorary Speaker</em></p>
                </section>
                <section class="clear"></section>
              </li>
              <li>
                <section class="thumb"><img src="/img/Seal_of_the_Philippine_Senate.png" alt=""></section>
                <section class="lc-content">
                  <p class="title">2. Government Integrity</p>
                  <p><strong>Senate of the Philippines</strong> <em>(Invited Organization)</em>.Philippine Government Integrity has been one of the top National Development Discussions because it has now raised great ratings on credibility and trust from the public through the government’s effort and courage to serve justice in government management. We will discuss further how even the young leaders can take part in increasing the public value of the country, and further create important leadership roles to even challenge a better government. – <em>Discussion handled by National Honorary Speaker</em></p>
                </section>
                <section class="clear"></section>
              </li>
              <li>
                <section class="thumb"><img src="/img/nyc.png" alt=""></section>
                <section class="lc-content">
                  <p class="title">3. Youth Development</p>
                  <p><strong>National Youth Commission</strong> <em>(Invited Organization)</em>. Philippine Youth Development has been one of the top National Development Discussions because of its ongoing legislative and administrative colloquium about the youth sector platforms for leadership in the Philippines. We will discuss further how even the young leaders can take part in establishing better proposals on youth government leadership, community-based youth leadership and student leadership. – <em>Discussion handled by National Honorary Speaker</em></p>
                </section>
                <section class="clear"></section>
              </li>
              <li>
                <section class="thumb"><img src="/img/International-Organization-for-Migration-IOM-logo.png" alt=""></section>
                <section class="lc-content">
                  <p class="title">4. Disaster Management</p>
                  <p><strong>International Organization for Migration</strong> <em>(Invited Organization)</em>. Philippine Disaster Management has been one of the top National Development Discussions because a number of calamities have struck in the entire nation, and multiple disaster management categories have to be organized to handle the outbreaks of consequences and after-effects; Primarily Human Trafficking Prevention in an Emergency Situation. We will discuss further how even the young leaders can take part in preserving the Social Welfare of their own community given basic disaster management procedures. – <em>Discussion handled by National Honorary Speaker</em></p>
                </section>
                <section class="clear"></section>
              </li>
              <li>
                <section class="thumb"><img src="/img/unesco-logo99.PNG" alt=""></section>
                <section class="lc-content">
                  <p class="title">5. International Leadership</p>
                  <p><strong>UNESCO</strong> <em>(Invited Organization)</em>. Philippine’s platforms for International Leadership has been one of the top National Development Discussions because this measures and reports the International Competence Ratings of Filipinos to work in, work for, and even lead all over the world; ASEAN Milieu in 2015 is also a current event. We will discuss further how even the young leaders can take part in creating and executing programs and activities that contributes to the various International Goals of various International Organizations. – <em>Discussion handled by National Honorary Speaker</em></p>
                </section>
                <section class="clear"></section>
              </li>
              <li>
                <section class="thumb"><img src="/img/cocacolaFoundation.jpg" alt=""></section>
                <section class="lc-content">
                  <p class="title">6. Corporate Social Responsibility</p>
                  <p><strong>Coca-Cola Foundation</strong> <em>(Invited Organization)</em>. Philippine Corporate Social Responsibility has been one of the top National Development Discussions because when the economic power of consumer increased, private corporations who benefited from these are mutually appreciated by the government and the society if a portion proceeds to community development. We will discuss further how even the young leaders can take part in partnering and co-organizing with foundations to strengthen and even develop further community programs by private companies.– <em>Discussion handled by National Honorary Speaker</em></p>
                </section>
                <section class="clear"></section>
              </li>
              <li>
                <section class="thumb"><img src="/img/HFHV.jpg" alt=""></section>
                <section class="lc-content">
                  <p class="title">7. Habitat Development</p>
                  <p><strong>Habitat for Humanity</strong> <em>(Invited Organization)</em>. Philippine Habitat Development has been one of the top National Development Discussions because recent natural destructions in the nation calls for urgent rehabilitation and preservation of shelter to even create a continuously safe environment most especially for the affected community. We will discuss further how even the young leaders can take part in collaborating volunteer efforts needed by the International and the Local Organizations to develop these communities.– <em>Discussion handled by National Honorary Speaker</em></p>
                </section>
                <section class="clear"></section>
              </li>
              <li>
                <section class="thumb"><img src="/img/1024px-CHED.png" alt=""></section>
                <section class="lc-content">
                  <p class="title">8. Educational Growth</p>
                  <p><strong>Commission on Higher Education</strong> <em>(Invited Organization)</em>. Philippine Educational Growth has been one of the top National Development Discussions because the natural effect to collegiate degrees stirred by K-12 Program implementation challenged the Future Professionals Produce of the country to be smarter, focused and efficient graduates; Increase of College Curriculum Standards and Alternative educational networks are also relevant concerns. We will discuss further how even the young leaders can take part by being living standards of excellence both in community leadership and in the academe.– <em>Discussion handled by National Honorary Speaker</em></p>
                </section>
                <section class="clear"></section>
              </li>
            </ul>
          </section>
        </section>
      </section>
      <section class="clear"></section>
    </section>
  </section>
  