<section id="el-liderato">
    <section class="container">
      <section class="download-pdf">Click to download as &rarr; <a target="_blank" href="https://drive.google.com/file/d/0By7gtr9H4_hdaVBnNTh6cnU3RGc/view?usp=sharing">PDF</a></section>
      <% include ../side-bars/side-bar.ejs %>
      <section class="main-content">
        <section class="wrapper">
          <section class="content-heading"><h1>National Guidelines</h1></section>
          <section class="content-body national-guidelines">
            <div class="row">
              <section class="col-md-4">
                  <strong class="subhead">Qualification</strong>
              </section>
              <section class="col-md-8">
                  First 500 Youth Leader Registrants only are accepted in the National Leadership Program. These are
                  University/College Student Leaders and Community-based Youth Leaders from all over the Philippines. <strong>First 100
                  Faculty Overseers</strong> only are also accepted in the Program. These faculty will serve as overseers for their
                  University/College’s participating student/youth leaders.
              </section>
          </div>
          <div class="row">
              <section class="col-md-4">
                  <strong class="subhead">Online Registration</strong>
              </section>
              <section class="col-md-8">
                  El Liderato: 1st Philippine Leadership Masters Challenge launched a new Registration System that are now
                  centralized ONLINE via www.tuxedoinstitute.com (Step 1) Registration Fee Payment via BDO/Landbank, (Step 2)
                  proceed to Online Registration.
              </section>
          </div>
          <div class="row">
              <section class="col-md-4">
                  <strong class="subhead">National Challenges</strong>
              </section>
              <section class="col-md-8">
                  The Ten (10) National Leadership Challenges are inspired from the Ten (10) of the most valuable Leadership
                  Principles Developed in 21st Century. These are built with <strong>Pit Stop Areas</strong> that are analytically designed to
                  enable the young leaders to experience, process and realize further each of the Ten (10) Leadership Principles
                  through physical, mental, emotional, psychological and spiritual training schemes.
              </section>
          </div>
          <div class="row">
              <section class="col-md-4">
                  <strong class="subhead">National Discussions</strong>
              </section>
              <section class="col-md-8">
                  There are (8) Major National Issues, this generation of leaders have to respond as being called for. These will
                  be discussed by the National Honorary Speakers from the Philippines’ Outstanding Government &amp;
                  Non-Government Organizations, International Organizations and Private Organizations. The Grand Challenge Top
                  Three (3) out of Ten (10) National Big Groups of El Liderato 2014, will meet in the <strong>Pearl of the Orient</strong> Grand
                  Challenge on Day 3. An underlying Major Leadership Principle is built in this National Grand Challenge that
                  will finally test each one’s Moral Leadership Value, more beyond selfishness &amp; greed of power.
              </section>
          </div>
          <div class="row">
              <section class="col-md-4">
                  <strong class="subhead">First Aid</strong>
              </section>
              <section class="col-md-8">
                  A Medic Team Partner of El Liderato 2014 will be on guard for three-day safety, first-aid and over-all
                  emergency response. Arrival &amp; Departure All delegate arrivals in Naga City Airport and Naga City Public
                  Terminal within 5AM-12NN of December 19, 2014 (El Liderato 2014 – Day 1) will be provided with CWC Shuttle Bus
                  and Van.
              </section>
          </div>
          </section>
        </section>
      </section>
      <section class="clear"></section>
    </section>
  </section>