<section id="el-liderato">
    <section class="container">
      <section class="download-pdf">Click to download as &rarr; <a target="_blank" href=https://drive.google.com/file/d/0By7gtr9H4_hdbHI2VXRlaks3UDg/view?usp=sharing">PDF</a></section>
      <% include ../side-bars/side-bar.ejs %>
      <section class="main-content">
        <section class="wrapper">
          <section class="content-heading"><h1>Overview</h2></section>
          <section class="content-body t-justify">
            <p><span class="subhead">Organizers.</span> <strong>El Liderato: 1st Philippine Leadership Masters Challenge</strong> is a new nationally Centralized and Professionalized Youth Leadership Training Program concept for 500 Youth Leaders (Maximum Training Design) from all over the country - University/College Student Leaders and Community-based Youth Leaders. Fundamentally designed &amp; built by the creators &amp; organizers of the all-time CHED Endorsed events: 1st Le Maste: Philippine Leadership Masters Congress, The International Youth  Convention (United Nations Congress), Mindanao Business and Management Youth Congresses &amp; established National and Regional Socio-Civic, University and Corporate Leadership Trainings, Conventions &amp; Tournaments in the Philippines. The Philippine-based Leadership Management Training Group for the Corporate and the Community – Tuxedo Institute of the Philippines. 1st El Liderato Challenge 2014 is in partnership with Ateneo de Naga University, Bicol University, National Youth Commission, Department of Tourism, Province of Camarines Sur, Naga City Government, Pili - CamSur Government, CamSur Watersports Complex, Jollibee Foods Corporation, and Tigerair Philippines.</p>

            <p><span class="subhead">Ten Challenges.</span> The Ten (10) National Leadership Challenges are inspired from the Ten (10) of the most valuable Leadership Principles Developed in the 21st Century. These Ten (10) National Leadership Challenges are built with Pit Stop Areas that are analytically designed to enable these young leaders to experience, process and realize further each of the Ten (10) Leadership Principles through physical, mental, emotional, psychological and spiritual training schemes. The Training Concept will as well task the National Training Team to objectively process their experience timely and evaluate reflection outputs through the 1st El Liderato Challenge 2014 standard training procedures. <strong>The El Liderato: 1st Philippine Leadership Masters Challenge</strong> total training design will allow the National Training Team to carefully process the Large Group (500 Youth Leaders) via the National Leadership Discussion of the National Honorary Speakers, the Big Group (50 Youth Leaders per Main Team) via the Big Group Facilitators, and the Small Group (12-14 Youth Leaders per Sub-Team) via the Small Group Facilitators.</p>

            <p><span class="subhead">Eight Discussions.</span> Philippines’ greatest and remarkable leaders from Outstanding Government &amp; Non-Government Organizations, International Organizations and Private Organizations will be the National Honorary Speakers of the Eight (8) National Leadership Discussions. The Eight (8) Big Topics are evaluated in pursuit of the Eight (8) Major National Issues, this generation of leaders have to respond as being called for, to preserve the solidarity and strength of our developing nation. In the criteria of experiential, procedural, process-based training design, <strong>El Liderato: 1st Philippine Leadership Masters Challenge</strong> will create a new image of the Philippines’ Centralized and Professionalized Youth Leadership Training Program starting 2014.</p>
          </section>
        </section>
      </section>
      <section class="clear"></section>
    </section>
  </section>
  