<section id="el-liderato">
    <section class="container">
      <section class="download-pdf">Click to download as &rarr; <a target="_blank" href="https://drive.google.com/file/d/0By7gtr9H4_hdbHI2VXRlaks3UDg/view?usp=sharing">PDF</a></section>
      <% include ../side-bars/side-bar.ejs %>    
      <section class="main-content">
        <section class="wrapper">
          <section class="content-heading"><h1>National Organizers and Partners</h2></section>
          <section class="content-body">
            <section class="row tuxedo-partners">
              <section class="row tuxedo-rows">
                <section class="col-md-3 img-partners">
                  <img src="/img/ssg.png">
                </section>
                <section class="col-md-3 img-partners">
                  <img src="/img/bu-unesco.jpg">
                </section>
                <section class="col-md-3 img-partners">
                  <img src="/img/tuxedo-logo-orig.jpg">
                </section>
                <section class="col-md-3 img-partners">
                  <img src="/img/bicol-univ.png">
                </section>
              </section>
                <section class="row tuxedo-rows">
                  <section class="col-md-3 img-partners">
                    <img src="/img/camsur.png">
                  </section>
                  <section class="col-md-3 img-partners">
                    <img src="/img/dot.png">
                  </section>
                  <section class="col-md-3 img-partners">
                    <img src="/img/nyc.png">
                  </section>
                  <section class="col-md-3 img-partners">
                    <img src="/img/pili.png">
                  </section>
                </section>
              <section class="row three-rows">
                <section class="col-md-4 img-partners-org">
                    <img src="/img/jollibee.png">
                  </section>
                  <section class="col-md-4 img-partners-cwc">
                    <img src="/img/cwc.png">
                  </section>
                  <section class="col-md-4 img-partners-tiger">
                    <img src="/img/tiger.jpg">
                  </section>
              </section>
            </section>

            <section id="tuxedo-consultant">
              <h2><u>Consultants and References</u></h2>
              <section class="half-col">
                <ul>
                  <li>Osep Reyes</li>
                  <li>President | CEO</li>
                  <li>Culture Shock PH Inc.</li>
                </ul>
                <ul>
                  <li>Evanesa Pasamisa, PSO IV</li>
                  <li>Cluster Head, Northern Mindanao</li>
                  <li>National Youth Commission</li>
                </ul>
                <ul>
                  <li>Deonalin May Castillo</li>
                  <li>President, SBMSC</li>
                  <li>Xavier University, Ateneo de Cagayan</li>
                </ul>
                <ul>
                  <li>Marlo Novino</li>
                  <li>Professor</li>
                  <li>Mindanao State University – IIT</li>
                </ul>
              </section>
              <section class="half-col">
                <ul>
                  <li>Dr. Virginia Lourdes C. Yacapin, CPA, MBA</li>
                  <li>Director, Alumni Affairs</li>
                  <li>Xavier University, Ateneo de Cagayan</li>
                </ul>
                <ul>
                  <li>Jonathan Jaime Guerrero</li>
                  <li>Board Member</li>
                  <li>UNESCO – Philippines</li>
                </ul>
                <ul>
                  <li>John Christopher Clavesillas</li>
                  <li>Manager</li>
                  <li>Bank of the Philippine Islands</li>
                </ul>
                <ul>
                  <li>Benedict Jan T. Baloncio, MBA</li>
                  <li>Vice President – Training and Development</li>
                  <li>Tuxedo Institute of the Philippines</li>
                </ul>
              </section>
              <section class="clear"></section>
            </section>
          </section>
        </section>
      </section>
      <section class="clear"></section>
    </section>
  </section>
 