  <section id="el-liderato">
    <section class="container">
      <section class="download-pdf">Click to download as &rarr; <a target="_blank" href="https://drive.google.com/file/d/0B6PsrXuL2AOOOEFMZGdPUlEzYV81UUlnblBsdGpwUWtia1JF/view?usp=sharing">PDF</a></section>
      <% include ../side-bars/side-bar.ejs %>
      <section class="main-content">
        <section class="wrapper">
          <section class="content-heading"><h1>El Liderato: <strong>1st Philippine Leadership Masters Challenge</strong></h1></section>
          <section class="content-body national-program">
            <img src="/img/national-program.png" alt="National Program">
          </section>
        </section>
      </section>
      <section class="clear"></section>
    </section>
  </section>