  <section id="el-liderato">
    <section class="container">
      <section class="download-pdf">Click to download as &rarr; <a target="_blank" href="https://drive.google.com/file/d/0By7gtr9H4_hdYlg3akFVNURCVkk/view?usp=sharing">PDF</a></section>
      <% include ../side-bars/side-bar.ejs %>
      <section class="main-content">
        <section class="wrapper">
          <section class="content-heading"><h1>El Liderato: <strong>Travel Guide</strong></h1></section>
          <section class="content-body travel-guide">
            <section class="subheads"><p>Via Davao City to Naga City Airport</p></section>
            <p class="options">Option 1:</p>
            <ul class="option-desc">
              <li>On December 19 (6AM) , Fly via PAL/Cebu Pacific from Davao City Airport to NAIA (Manila Airport)</li>
              <li>Take a connecting Flight from NAIA (Manila Airport) to Naga City Airport (Arrival at 11AM)</li>
              <li>(Note: Naga City Airport is 15 minutes away from the venue – CamSur Watersports Complex, Pili,
Camarines Sur.)</li>
            </ul>
            <!--option border-->
            <p class="options">Option 2 (Cheaper):</p>
            <ul class="option-desc">
              <li>On December 18 (1-3PM)-Fly via PAL/Cebu Pacific from Davao City Airport to NAIA (Manila Airport)</li>
              <li>Then on December 18 (6-7PM), Take an 8-9 Hours Bus Ride from Manila City to Naga City</li>
              <li>Arrive around 3-4AM in Naga City, Then directly proceed to the venue for an early check-in</li>
              <li>(Note: Naga City Terminal is 20 minutes away from the venue – CamSur Watersports Complex, Pili, Camarines Sur.)</li>
            </ul>
            <!--subheads border-->
            <section class="subheads"><p>Via Cebu City to Naga City Airport</p></section>
            <p class="options">Option 1 (Best Option):</p>
            <ul class="option-desc">
              <li>On December 19 (6-8AM) , Fly via PAL/Cebu Pacific from Cebu City Airport to Naga City Airport</li>
              <li>(Note: Naga City Airport is 15 minutes away from the venue – CamSur Watersports Complex, Pili, Camarines Sur.)</li>
            </ul>
             <!--subheads border-->
            <section class="subheads"><p>Via Metro Manila to Naga City Airport</p></section>
            <p class="options">Option 1:</p>
            <ul class="option-desc">
              <li>On December 19 (6-8AM) , Fly via PAL/Cebu Pacific from NAIA (Manila Airport) to Naga City Airport</li>
              <li>(Note: Naga City Airport is 15 minutes away from the venue – CamSur Watersports Complex, Pili, Camarines Sur.)</li>
            </ul>
            <!--option border-->
            <p class="options">Option 2 (Cheaper):</p>
            <ul class="option-desc">
              <li>Then on December 18 (6-7PM), Take an 8-9 Hours Bus Ride from Manila City to Naga City</li>
              <li>Arrive around 3-4AM in Naga City, Then directly proceed to the venue for an early check-in</li>
              <li>(Note: Naga City Terminal is 20 minutes away from the venue – CamSur Watersports Complex, Pili, Camarines Sur.)</li>
            </ul>
          </section>
        </section>
      </section>
      <section class="clear"></section>
    </section>
  </section>