<section id="el-liderato">
    <section class="container">
      <section class="download-pdf">Click to download as &rarr; <a target="_blank" href="https://drive.google.com/file/d/0By7gtr9H4_hdUlRUN19oMHQ2dEk/view?usp=sharing">PDF</a></section>
      <% include ../side-bars/side-bar.ejs %>
      <section class="main-content">
        <section class="wrapper">
          <section class="content-heading"><h1>National Training Venue &amp; Accommodation</h2></section>
          <section class="content-body">
            <section class="row tuxedo-carousel">
              <div id="outside">
                <div class="cycle-slideshow carousel-img" 
                      data-cycle-fx=scrollHorz
                      data-cycle-timeout=0
                      data-cycle-prev="#prev"
                      data-cycle-next="#next"
                >
                      <img src="/img/venue-img1.jpg" alt="Offical Venue 1">
                      <img src="/img/venue-img2.jpg" alt="Offical Venue 2">
                      <img src="/img/venue-img3.jpg" alt="Offical Venue 3">
                      <img src="/img/venue-img4.jpg" alt="Offical Venue 4">
                      <img src="/img/venue-img5.jpg" alt="Offical Venue 5">
                      <img src="/img/venue-img6.jpg" alt="Offical Venue 6">
                      <img src="/img/venue-img7.jpg" alt="Offical Venue 7">
                      <img src="/img/venue-img8.jpg" alt="Offical Venue 8">
                  </div>
                   <div class="navigation">
                      <section class="col-md-6">
                        <span id="prev">Previous </span>
                      </section>
                      <section class="col-md-6">
                        <span id="next">Next </span>
                      </section>
                </div>
              </div>
            </section>
          </section>
        </section>
      </section>
      <section class="clear"></section>
    </section>
  </section>
  