<!DOCTYPE html>
<html ng-app="tuxedo">
<head>
	<title>Add To Forms</title>
</head>
<body>
	<div ng-controller="formController">

	<a href="" ng-click="changeTab(1)">Student</a>
	<a href="" ng-click="changeTab(2)">Faculty</a>
	<a href="" ng-click="changeTab(3)">Group</a>

	<form action="/put/forms" method="POST" ng-show="form == 1">
		<h2>Students</h2>
		<input type="hidden" type="text" name="type" value="student">
		Bank Transaction ID: <input type="text" name="transId"><br>
		First Name: <input type="text" name="firstname"><br>
		Middle Name: <input type="text" name="middlename"><br>
		Last Name: <input type="text" name="lastname"><br>	
		Mobile Number: <input type="number" name="contact"><br>
		Email Address: <input type="email" name="email"><br>
		Institution: <input type="text" name="institution"><br>
		<input type="submit" value="Done">
	</form>

	<form action="/put/forms" method="POST" ng-show="form == 2">
		<h2>Faculty</h2>
		<input type="hidden" type="text" name="type" value="faculty">
		Bank Transaction ID: <input type="text" name="transId"><br>
		First Name: <input type="text" name="firstname"><br>
		Middle Name: <input type="text" name="middlename"><br>
		Last Name: <input type="text" name="lastname"><br>	
		Mobile Number: <input type="number" name="contact"><br>
		Email Address: <input type="email" name="email"><br>
		Institution: <input type="text" name="institution"><br>
		<input type="submit" value="Done">
	</form>

	<form action="/put/forms" method="POST" ng-show="form == 3">
		<h2>Group</h2>		
		Bank Transaction ID: <input type="text" name="transId"><br>
		<div class="form-class" ng-repeat="rp in repeat">
				<h2>{{ rp.type }}</h2>
				<input type="hidden" type="text" name="type" value="{{rp.type}}">
				First Name: <input type="text" name="firstname"><br>
				Middle Name: <input type="text" name="middlename"><br>
				Last Name: <input type="text" name="lastname"><br>	
				Mobile Number: <input type="number" name="contact"><br>
				Email Address: <input type="email" name="email"><br>
				Institution: <input type="text" name="institution"><br>			
			<hr>
		</div>
		<input type="button" ng-click="addGroup({type: 'student'})" class="add" value="Add Student"><br>
		<input type="button" ng-click="addGroup({type: 'faculty'})" class="add" value="Add Faculty"><br>
		<input type="submit" value="Done">
	</form>

	</div>
	<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script type="text/javascript" src="/js/angular-script.js"></script>
	<!-- <script type="text/javascript" src="/js/form-submit.js"></script> -->
</body>
</html>