<div class="content-container container">
      <div class="col-md-12">
        <div class="about-us col-md-8">
          <h2>About the Company</h2>
          <p>Tuxedo Institute of the Philippines is a Philippine-based Leadership Management Training Group for the Corporate and the Community. It launched five <strong>(5) flagship programs</strong>, namely <strong>(1) Le Maste: Philippine Leadership Masters Congress</strong>, <strong>(2) El Liderato: Philippine Leadership Masters Challenge</strong>, <strong>(3) Dux Gregis: International Youth Leaders Convention</strong>, <strong>(4) Colloquium: Asia-Pacific Corporate Management Series</strong>, and <strong>(5) Roundtable: Executive Consultancy Sessions</strong>.</p>
          <p>The institute is proud to operate its' programs with CHED Memorandum Endorsements, Private &amp; Government Institution Partnerships and International Business and Academic Organizations Partnerships.  These programs are also designed with Centralized Online Registration annually at www.tuxedoinstitute.com. Notably, the three (3) core values of the training organization are <strong>Integrity</strong>, <strong>Leadership</strong> and <strong>Excellence</strong>.
          </p>
        </div>
        <div class="contact-us col-md-4">
          <h2>Contact Us</h2>
          <p>Mobile Hotline:     09175504588</p>
          
          
          
          <p><strong>Email Address:</strong>
          <a class="email" href="mailto:centraloffice@tuxedoinstitute.com">centraloffice@tuxedoinstitute.com</a><a class="email" href="mailto:lemaste@tuxedoinstitute.com">lemaste@tuxedoinstitute.com</a><a class="email" href="mailto:elliderato@tuxedoinstitute.com">elliderato@tuxedoinstitute.com</a><a class="email" href="mailto:duxgregis@tuxedoinstitute.com">duxgregis@tuxedoinstitute.com</a><a class="email" href="mailto:colloquium@tuxedointitute.com">colloquium@tuxedointitute.com</a><a class="email" href="mailto:roundtable@tuxedointitute.com">roundtable@tuxedointitute.com </a></p>
          
          
          
        </div>
      </div>
    </div>   