<div class="container">
    <div id="registration">
      <div class="emblems">
        <div class="content">
          <a href><img src="/img/le-maste-emblem.jpg" alt=""></a>
          <p>August 16-17, 2014</p>
          <p>Limketkai Atrium, Cagayan de Oro City</p>          
        </div>
        <div class="btn btn-close"><a href>Registration Pending &rarr;</a></div>
      </div>
      <div class="emblems">
        <div class="content">
          <a href="<%= jlink('EllideratoController') %>"><img src="/img/el-liderato-emblem.jpg" alt=""></a>
          <p>December 19-21, 2014</p>
          <p>CWC, Camarines Sur, Philippines</p>          
        </div>
        <div class="btn"><a href="<%= jlink('EllideratoController') %>">More Details &rarr;</a></div>
      </div>
      <div class="emblems">
        <div class="content">
          <a href><img src="/img/dux-gregis-logo.png" alt=""></a>
          <p>June 25-28, 2014</p>
          <p>Bangkok, Thailand</p>         
        </div>
        <div class="btn btn-close"><a href>Registration Pending &rarr;</a></div>
      </div>
      <div class="emblems">
        <div class="content">
          <a href><img src="/img/colloquium-logo.png" alt=""></a>
          <p>Batch 1: June - December 2015</p>
          <p>Makati City, Philippines</p>          
        </div>
        <div class="btn btn-close"><a href>Registration Pending &rarr;</a></div>
      </div>
      <div class="emblems last">
        <div class="content">
          <a href><img src="/img/roundtable-logo.png" alt=""></a>
          <p>Year 2015</p>
          <p>Nationwide</p>         
        </div>
        <div class="btn btn-close"><a href>Registration Pending &rarr;</a></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>