<html>
<head>
	<title>Participants</title>
	<style type="text/css">
		ul{
			list-style-type: none;
		}
	</style>
</head>
<body>
	<h1>Participants</h1>

	<ul>
	<% rows.forEach(function ( row ) { %>
		<% for(var prop in row) { %>
			<li><%= prop %>: <%= row[prop] %></li>
		<% } %>
		<hr>
	<% }) %>	
	</ul>
</body>
</html>