<div class="content-container container" ng-controller="formController">
    <div id="register-page">
      <div class="instructions">
        <div class="box">
          <h2>Registration Process</h2>
          <ul>
            <li>Step 1: Process Registration Payments via BDO/Landbank</li>
            <li>Step 2: Revisit this website &rarr; Click Register Online</li>
            <li>Step 3: Select Program &rarr; Individual or Group Registration</li>
            <li>Step 4: Input Bank Deposit No. &amp; Fill up Form &rarr; Click Submit</li>
          </ul>
        </div>
        <div class="space">&nbsp;</div>
        <div class="box">
          <h2>Registration Bank Accounts</h2>
          <div class="bank-info">
            <div class="thumb"><img src="/img/logo-bdo.jpg" alt="BDO"></div>
            <div class="infos">
              <p>Tuxedo Institute of the Philippines Inc.<br/>ACCOUNT NUMBER: 00635-00881-22</p>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
          <div class="bank-info">
            <div class="thumb"><img src="/img/logo-landbank.jpg" alt="Landbank"></div>
            <div class="infos">
              <p>Tuxedo Institute of the Philippines Inc.<br/>ACCOUNT NUMBER: 2411-1098-55</p>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div id="reg-form-emblems">
        <div class="emblem-col" ng-class="{'active' : selected == 'le-maste'}">
          <a href><img src="/img/le-maste-emblem.jpg" alt=""></a>
          <div class="btn" ng-click="closedReg('le-maste')"><a href>Registration Pending</a></div>
        </div>
        <div class="emblem-col" ng-class="{'active' : selected == 'el-liderato'}">
          <a href><img src="/img/el-liderato-emblem.jpg" alt=""></a>
          <div class="btn" ng-click="selectedEmblem('el-liderato')"><a href>Register Here &rarr;</a></div>
        </div>
        <div class="emblem-col" ng-class="{'active' : selected == 'dux-gregis'}">
          <a href><img src="/img/dux-gregis-logo.png" alt=""></a>
          <div class="btn" ng-click="closedReg('dux-gregis')"><a href>Registration Pending</a></div>
        </div>
        <div class="emblem-col" ng-class="{'active' : selected == 'colloquium'}">
          <a href><img src="/img/colloquium-logo.png" alt=""></a>
          <div class="btn" ng-click="closedReg('colloquium')"><a href>Registration Pending</a></div>
        </div>
        <div class="emblem-col last" ng-class="{'active' : selected == 'roundtable'}">
          <a href><img src="/img/roundtable-logo.png" alt=""></a>
          <div class="btn" ng-click="closedReg('roundtable')"><a href>Registration Pending</a></div>
        </div>
        <div class="clear"></div>
      </div>
      <div id="reg-form-body" ng-show="close">
        <div class="register-close">
            Registration Pending
        </div>
      </div>
      <div id="reg-form-body" ng-show="isShown">
        <div class="side-menu">
          <div class="menu-container" ng-class="{'active' : form == 1}" ng-click="changeTab(1)"><a class="student" href>Registration Details</a></div>
          <div class="menu-container" ng-class="{'active' : form == 2}" ng-click="changeTab(2)"><a class="student" href>Student Registration</a></div>
          <div class="menu-container" ng-class="{'active' : form == 3}" ng-click="changeTab(3)"><a class="student" href>Faculty Registration</a></div>
          <div class="menu-container" ng-class="{'active' : form == 4}" ng-click="changeTab(4)"><a class="student" href>Group Registration</a></div>
        </div>
        <div class="form-contents">
          <div class="registration-payment fcontent" ng-show="form == 1 && isShown">
            <section>
              <table class="table">
                <tbody><tr>
                  <th colspan="2" class="dark-bg"><strong>STAY-IN [Student &amp; Faculty]</strong></th>
                </tr>
                <tr>
                  <td colspan="2"><strong>INCLUSIONS:</strong> 2 Nights &amp; 3 Days Hotel Accommodation w/ 2 Hotel Breakfast; 3 Lunch &amp; 2 Dinner; Complete El Liderato Leadership Program Kit; Identification Cards; Official Bandana; Privilege Pass to Eight (8) National Leadership Discussions; Privilege Drill Training &amp; Modular Processing to Ten (10) National Leadership Challenges; &amp; Official Leadership Program Completion Certificate (National Level).</td>
                </tr>
                <tr>
                  <td class="gray-bg"><strong>EXTENDED</strong> Registration Cut-off</td>
                  <td class="gray-bg"><strong>Registration Fee</strong></td>
                </tr>
                <tr>
                  <td><strong>December 2, 2014</strong></td>
                  <td><strong>PHP 4,500</strong></td>
                </tr>
                <tr>
                  <td><strong>December 12, 2014</strong></td>
                  <td><strong>PHP 4,900</strong></td>
                </tr>
                <tr>
                  <td colspan="2"><p>Note: <strong>REGISTRATION IS STILL OPEN.</strong> We will post here when the official slots for the <strong>FIRST 500 Youth Leader Registrants</strong> and <strong>FIRST 100 Faculty Overseer Registrants</strong> will be nearly full.</p></td>
                </tr>
              </tbody></table>
            </section>
          </div>
          <div class="form-student fcontent" ng-show="form == 2 && isShown">
            <form name="studentForm" ng-submit="submit($event , studentForm)" action="<%= jlink('GoogleapiController' , 'add') %>" method="POST" novalidate>
              
              <p>Bank
              <select ng-model="model.transBank" name="transBank">
                <option value="BDO">BDO</option>
                <option value="Landbank">Landbank</option>
              </select>
              </p>
              
              <p ng-show="studentForm.transId.$invalid && !studentForm.transId.$pristine" class="help-block">Bank is required.</p>

              <p>Bank Deposit - Transaction Number <input ng-model="model.transId" type="text" placeholder="Required for Individual Payment Verification" name="transId" required></p>
              <p ng-show="studentForm.transId.$invalid && !studentForm.transId.$pristine" class="help-block">Your Transaction Number is required.</p>

              <p>Bank Deposit - Amount <input ng-model="model.transAmount" type="number" placeholder="Required for Individual Payment Verification" name="transAmount" required></p>
              <p ng-show="studentForm.transAmount.$invalid && !studentForm.transAmount.$pristine" class="help-block">Please enter the numberical value only.</p>

              <p>First Name <input ng-model="model.firstname" type="text" name="firstname" required></p>
              <p ng-show="studentForm.firstname.$invalid && !studentForm.firstname.$pristine" class="help-block">Your first name is required.</p>

              <p>Middle Name <input ng-model="model.middlename" type="text" name="middlename" required></p>
              <p ng-show="studentForm.middlename.$invalid && !studentForm.middlename.$pristine" class="help-block">Your middle name is required.</p>

              <p>Last Name <input ng-model="model.lastname" type="text" name="lastname" required></p>
              <p ng-show="studentForm.lastname.$invalid && !studentForm.lastname.$pristine" class="help-block">Your last name is required.</p>

              <p>Mobile Number <input ng-model="model.contact" type="text" name="contact" ng-pattern="/^\d+$/" ng-maxlength="11" required></p>
              <p ng-show="studentForm.contact.$invalid && !studentForm.contact.$pristine" class="help-block">Your number is invalid.</p>

              <p>Email Address <input ng-model="model.email" type="text" name="email" required></p>
              <p ng-show="studentForm.email.$invalid && !studentForm.email.$pristine" class="help-block">Your email is invalid.</p>

              <p>Institution <input ng-model="model.institution" type="text" name="institution" required></p>
              <p ng-show="studentForm.institution.$invalid && !studentForm.institution.$pristine" class="help-block">Your institution is required.</p>
              <input type="hidden" name="type" value="student">
              <input type="hidden" name="emblem" value="{{ selected }}">
              <div class="btn-submit"><input type="submit" value="Submit"></div>
            </form>
          </div>
          <div class="form-faculty fcontent" ng-show="form == 3 && isShown">
            <form name="facultyForm" ng-submit="submit($event , facultyForm)" action="<%= jlink('GoogleapiController' , 'add') %>" method="POST" novalidate>

              <p>Bank
              <select ng-model="model.transBank" name="transBank">
                <option value="BDO">BDO</option>
                <option value="Landbank">Landbank</option>
              </select>
              </p>
              
              <p ng-show="studentForm.transId.$invalid && !studentForm.transId.$pristine" class="help-block">Bank is required.</p>

              <p>Bank Deposit - Transaction Number <input ng-model="model.transId" type="text" placeholder="Required for Individual Payment Verification" name="transId" required></p>
              <p ng-show="facultyForm.transId.$invalid && !facultyForm.transId.$pristine" class="help-block">Your Transaction Number is required.</p>

              <p>Bank Deposit - Amount <input ng-model="model.transAmount" type="number" placeholder="Required for Individual Payment Verification" name="transAmount" required></p>
              <p ng-show="facultyForm.transAmount.$invalid && !facultyForm.transAmount.$pristine" class="help-block">Please enter the numberical value only.</p>

              <p>First Name <input ng-model="model.firstname" type="text" name="firstname" required></p>
              <p ng-show="facultyForm.firstname.$invalid && !facultyForm.firstname.$pristine" class="help-block">Your first name is required.</p>

              <p>Middle Name <input ng-model="model.middlename" type="text" name="middlename" required></p>
              <p ng-show="facultyForm.middlename.$invalid && !facultyForm.middlename.$pristine" class="help-block">Your middle name is required.</p>

              <p>Last Name <input ng-model="model.lastname" type="text" name="lastname" required></p>
              <p ng-show="facultyForm.lastname.$invalid && !facultyForm.lastname.$pristine" class="help-block">Your last name is required.</p>

              <p>Mobile Number <input ng-model="model.contact" type="text" name="contact" ng-pattern="/^\d+$/" ng-maxlength="11" required></p>
              <p ng-show="facultyForm.contact.$invalid && !facultyForm.contact.$pristine" class="help-block">Your number is invalid.</p>

              <p>Email Address <input ng-model="model.email" type="text" name="email" required></p>
              <p ng-show="facultyForm.email.$invalid && !facultyForm.email.$pristine" class="help-block">Your email is invalid.</p>

              <p>Institution <input ng-model="model.institution" type="text" name="institution" required></p>
              <p ng-show="facultyForm.institution.$invalid && !facultyForm.institution.$pristine" class="help-block">Your institution is required.</p>

              <input type="hidden" name="type" value="faculty">
              <input type="hidden" name="emblem" value="{{ selected }}">
              <div class="btn-submit"><input type="submit" value="Submit"></div>
            </form>
          </div>
          <div class="form-group fcontent" ng-show="form == 4 && isShown">
            <form name="regForm" action="<%= jlink('GoogleapiController' , 'add') %>" method="POST">
                
              <p>Bank
              <select ng-model="model.transBank" name="transBank">
                <option value="BDO">BDO</option>
                <option value="Landbank">Landbank</option>
              </select>
              </p>
              
              <p ng-show="studentForm.transId.$invalid && !studentForm.transId.$pristine" class="help-block">Bank is required.</p>
              
              <p>Bank Deposit - Transaction Number <input type="text" placeholder="Required for Group Payment Verification" name="transId" required></p>
              <p>Bank Deposit - Amount <input type="number" placeholder="Required for Group Payment Verification" name="transAmount" required></p>              

              <div class="group-btn">
                <a href ng-click="addGroup({type: 'student'})" class="btn-add-student">ADD Student Registrant</a>
                <a href ng-click="addGroup({type: 'faculty'})" class="btn-add-faculty">ADD Faculty Registrant</a>
              </div>
              <div class="sub-form">
                <div class="label">
                  <p class ng-class="{'active' : showRepeat == $index}" ng-repeat="rpt in repeat" ng-click="groupShow($index , regForm)"><span class="btn-close"><a href ng-click="remove($index)">x</a></span><a href>{{ capital(rpt.type) }} Registrant <span class="count">{{ $index + 1 }}</span> - <span class="lastname">{{ group[$index].lastname }}</a></span></p>
                </div>
                <div class="side-form" ng-repeat="info in repeat" ng-show="$index == showRepeat">

                  <p>First Name <input type="text" name="firstname" ng-model="model[$index].firstname" required></p>
                  <p ng-show="!model[$index].firstname && !regForm.firstname.$pristine" class="help-block">Your first name is required.</p>

                  <p>Middle Name <input type="text" name="middlename" ng-model="model[$index].middlename" required></p>
                  <p ng-show="!model[$index].middlename && !regForm.middlename.$pristine" class="help-block">Your middle name is required.</p>

                  <p>Last Name <input type="text" name="lastname" ng-model="model[$index].lastname" required></p>
                  <p ng-show="!model[$index].lastname && !regForm.lastname.$pristine" class="help-block">Your last name is required.</p>

                  <p>Mobile Number <input type="text" name="contact" ng-model="model[$index].contact" ng-pattern="/^\d+$/" ng-maxlength="11" required></p>
                  <p ng-show="!model[$index].contact && !regForm.contact.$pristine" class="help-block">Your number is invalid.</p>

                  <p>Email Address <input type="text" name="email" ng-model="model[$index].email" required></p>
                  <p ng-show="!model[$index].email && !regForm.email.$pristine" class="help-block">Your email is invalid.</p>

                  <p>Institution <input type="text" name="institution" ng-model="model[$index].institution" required></p>
                  <p ng-show="!model[$index].institution && !regForm.institution.$pristine" class="help-block">Your institution is required.</p>

                  <input type="hidden" name="type" value="{{ info.type }}">
                  <input class="subform-submit" type="button" value="Done" ng-click="finished(model[$index] , $index , regForm)">
                </div>
                <input type="hidden" name="emblem" value="{{ selected }}">
                <div class="btn-submit"><input ng-show="validate" type="submit" value="Submit"></div>
                <div class="clear"></div>
              </div>
            </div>
          </form>          
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>  