<section class="thank-you content-container container">
  <h2>Thank you for submitting required details. <br> We will email you the Official Registration Confirmation within 3-5 days.</h2>
  <p>For Inquiries: Contact us at 09175504588 | <a href="mailto:elliderato@tuxedoinstitute.com">elliderato@tuxedoinstitute.com</a></p>  
</section>