.logo .img {
    width: 256px;
}

.logo {
    text-align: center;
    margin: 50px 0;
}

.alert {
  color: #FFFFFF;
  margin: 20px 0;
  border-radius: 5px;
  background-color: #A94442;
  border: 0;
  text-align: center;
}

.alert .hide {
  display: none;
}

.input-group {
    margin-bottom: 20px;
}

.panel-body {
    padding-top: 0;
}