.tuxedo-partners {
	width: 100%;
	margin: 0 auto 0;
}
.img-partners > img {
	width: 85%;
}

.img-partners-org > img {
	width: 85%;
}
.img-partners-tiger > img {
	width:70%;
	padding-top: 50px;
	padding-left: 30px;
}

.img-partners-cwc > img {
	width:100%;
	padding-top: 30px;
}

.tuxedo-rows {
	margin-top: 50px;
}

.three-rows {
	margin-top: 30px;
}

#tuxedo-consultant{
	font-weight: bold;
}

#tuxedo-consultant .half-col{
	float: left;
	width: 50%;
}

#tuxedo-consultant .half-col ul,
#tuxedo-consultant .half-col ul li{
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}