#el-liderato .content-heading h1 strong {
    font-family: "colaboratelightregular", sans-serif;
    font-size: 22px;
    padding-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
}

.national-program {
    padding-top: 20px;
}

#el-liderato .sidebar {
    width: 23%;
}

#el-liderato .main-content {
    width: 77%;
}