#el-liderato{
  background-color: #222;
  font-family: "colaboratelightregular", sans-serif;
  background: -moz-linear-gradient(top,  #111111 0%, #222222 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111111), color-stop(100%,#222222)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #111111 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #111111 0%,#222222 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #111111 0%,#222222 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #111111 0%,#222222 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
}

#el-liderato .container{
  padding: 40px;
  background-color: #222;
  font-size: 16px;
  background: -moz-linear-gradient(top,  #111111 0%, #222222 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111111), color-stop(100%,#222222)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #111111 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #111111 0%,#222222 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #111111 0%,#222222 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #111111 0%,#222222 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
}

#el-liderato .download-pdf{
  padding: 10px 0;
  text-align: right;
  color: #FFF;
}

#el-liderato .download-pdf a{
  color: #FFF;
  text-decoration: none;
  border: 1px solid #FFF;
  padding: 3px 15px;
  border-radius: 4px;
  font-weight: bold;
}

#el-liderato .download-pdf a:hover{
  color: #222;
  background-color: #FFF;
}

#el-liderato .sidebar{
  float: left;
  width: 30%;
  padding-right: 20px;
}

#el-liderato .main-content{
  float: left;
  width: 70%;
  padding-left: 20px;
  background-color: #FFF;
  min-height: 790px;
}

#el-liderato .main-content .wrapper{
  padding: 20px;
  padding-right: 30px;
}

#el-liderato .el-logo{

}

#el-liderato .el-logo img{
  width: 100%;
  border-radius: 100%;
  -moz-box-shadow: 0px 0px 400px #FFF;
  -webkit-box-shadow: 0px 0px 400px #FFF;
  box-shadow: 0px 0px 400px #FFF;
}

#el-liderato .event-details .date, #el-liderato .event-details .location{
  border: 1px solid #b3b3b3;
  margin-top: -1px;
  color: #FFF;
  font-size: 12px;
  padding: 10px;
  text-align: center;
  background-color: #333;
}

#el-liderato .event-details {
    margin-top: 41px;
}

#el-liderato .event-details p{
  margin: 0;
}

#el-liderato .el-menu{

}

#el-liderato .el-menu ul{
  list-style: none;
  padding: 0;
  padding-top: 80px;
}

#el-liderato .el-menu ul li{
  list-style: none;
  text-align: center;
}

#el-liderato .el-menu ul li a{
  display: block;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #b3b3b3;
  border-bottom: none;
  padding: 10px 0;
}

#el-liderato .el-menu ul li a:hover{
  background-color: #000;
  font-family: 'colaborate-mediumregular';
}

#el-liderato .el-menu ul li:first-child a.active{
  border: 1px solid #000;
}

#el-liderato .el-menu ul li a.active{
  border: 1px solid #000;
  background-color: #000;
  border-top: 1px solid #b3b3b3;
  font-family: 'colaborate-mediumregular';
}

#el-liderato .el-menu ul li.last-child a{
  border-bottom: 1px solid #b3b3b3;
}


#el-liderato .el-menu ul li.last-child a.active{
  border: 1px solid #000;
  border-top: 1px solid #b3b3b3;
}

#el-liderato .content-heading h1{
  font-family: 'BrevScript';
  font-size: 4em;
  text-align: center;
  font-weight: normal;
  color: #000;
  margin: 0;
  line-height: 1;
  padding-top: 50px;
}

#el-liderato .t-justify{
  text-align: justify;
}

#el-liderato .subhead{
  font-weight: bold;
  font-size: 1.5em;
  color: #8B8B8B;
}