#el-liderato .travel-guide{

}

#el-liderato .travel-guide > .subheads > p{
	background-color: #000;
	color: #FFF;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 1.5em;
}

#el-liderato .travel-guide > p.options{
	font-weight: bold;
	font-size: 1.1em;
	text-decoration: underline;
}

#el-liderato .travel-guide > ul.option-desc{
	list-style-type: decimal;
}