@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MyriadPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MyriadPro-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'MyriadPro-Semibold';
  src: url('../fonts/MyriadPro-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MyriadPro-Semibold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MyriadPro-Semibold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'BrevScript';
  src: url('../fonts/BrevScript.eot'); /* IE9 Compat Modes */
  src: url('../fonts/BrevScript.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/BrevScript.woff') format('woff'), /* Modern Browsers */
       url('../fonts/BrevScript.ttf')  format('truetype'); /* Safari, Android, iOS */
}

.hline-black{
	height: 1px;
	width: 100%;
	background-color: #000;
}

#el-liderato{
	background-color: #FFF;
	padding: 30px;
	background-image: url('../img/el-ledirato-contentbg.png');
	background-size: 100%;
	background-position: bottom;
	background-repeat: no-repeat;
}

#el-liderato .t-justify{
	text-align: justify;
}

#el-liderato .subhead{
	font-weight: bold;
	font-size: 1.5em;
	color: #8B8B8B;
}

#el-liderato #sub-nav{
	float: left;
	width: 30%;
	padding: 10px;
	padding-right: 0;
}

#el-liderato .sub-logo img{
	width: 100%;
}

#el-liderato ul.el-liderato-menu{
	margin: 0;
	list-style: none;
	line-height: 3;
	text-align: right;
	padding-left: 0;
	padding-top: 15px;
}

#el-liderato ul.el-liderato-menu li{
	padding-right: 15px;
}

#el-liderato ul.el-liderato-menu li:hover,
#el-liderato ul.el-liderato-menu li.active{
	background-color: #000;
}

#el-liderato ul.el-liderato-menu li a{
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

#el-liderato ul.el-liderato-menu li a:hover,
#el-liderato ul.el-liderato-menu li.active a,
#el-liderato ul.el-liderato-menu li:hover > a{
	color: #FFF;
}

#el-liderato .content{
float: left;
width: 70%;
padding: 40px;
border: 1px solid #000;
}

#el-liderato .wrapper{
	padding-top: 80px;
}

#el-liderato .content-heading h1{
	font-family: 'BrevScript';
	font-size: 8em;
	text-align: center;
	font-weight: normal;
	color: #000;
	margin: 0;
	line-height: 1;
}