.clear
{
    clear: both;
}

#foot-cols
{
    text-align: center;

    color: #fff;
    background-color: #000;
    background-image: url('../img/black-leather-bg.jpg');
    background-size: 25%;
}

#foot-cols .container
{
    padding: 10px 0;
}

#foot-cols .container p
{
    font-family: 'colaborate-regularregular';
    font-size: 1.5em;
    font-weight: bold;

    margin: 0;
}

#foot-cols .container img
{
    width: 50px;
    margin: 8px 5px;

    border-radius: 100%;
    background-color: #fff;
}

#footer
{
    font-weight: bold;

    text-align: center;

    color: #000;
}

#footer .copyright p
{
    margin-bottom: 0;
}

#footer .webnified p
{
    margin-top: 0;
}

#footer .webnified a
{
    color: #000;
}
