.header
{
    background-color: #222;
}

.header .logo
{
    width: 150px;
}

.header .menu
{
    display: table;

    width: 520px;
    margin: 25px auto 12px;
    padding: 20px 0;
}

.header .menu .menu-item
{
    list-style: none;
}

.header .header-container
{
    background-image: url('../img/header-bg.png');
    background-repeat: no-repeat;
}

.header .logo-container
{
    width: 100%;
    margin-top: 50px;

    text-align: center;
}

.header .menu .menu-item a
{
    font-family: "caviar_dreamsregular", sans-serif;
    font-size: 15px;

    display: inline-block;
    float: left;

    min-width: 160px;
    max-height: 45px;
    margin-right: 20px;
    padding: 10px;

    text-align: center;
    text-transform: uppercase;

    color: white;
    border: 2px solid #fff;
}

.header .menu .menu-item a:hover
{
    text-decoration: none;

    background-color: rgba(255, 255, 255, .2);
}

.header .menu .menu-item a.active
{
    background-color: rgba(255, 255, 255, .2);
}

.header .menu .menu-item:last-child a
{
    margin-right: 0;
}
