li {
	list-style-type: none;
}
.tuxedo-tag > h1 {
	font-family: 'BrevScript';
	text-align: center;
	font-size: 7em;
	font-weight: normal;
	color: #000;
	margin-bottom: 10px;
}
.tuxedo-container {
	width: 1170px;
	margin: 0 auto 0;
}

.tuxedo-tag > span {
	display: block;
	margin: 0 auto 0;
}

.tuxedo-partners {
	width: 100%;
	margin: 0 auto 0;
}
.img-partners > img {
	width: 85%;
}

.img-partners-org > img {
	width: 85%;
}
.img-partners-tiger > img {
	width:70%;
	padding-top: 50px;
	padding-left: 30px;
}

.img-partners-cwc > img {
	width:100%;
	padding-top: 30px;
	
}

.tuxedo-rows {
	margin-top: 50px;
}

.three-rows {
	margin-top: 30px;
}

.consultant-first-row {
	margin-left: -70px;
}

.tag-consultant {
	font-size: 24px;
}

#tuxedo-consultant{
	font-weight: bold;
}

#tuxedo-consultant .half-col{
	float: left;
	width: 50%;
}

#tuxedo-consultant .half-col ul,
#tuxedo-consultant .half-col ul li{
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}