#register-page
{
    font-family: 'colaborate-regularregular';
}

#register-page .instructions
{
    padding: 40px 0;

    color: #9b9b9b;
}

#register-page .instructions h2
{
    color: #666;
}

#register-page .instructions .box p
{
    line-height: 22px;
}

#register-page .instructions .box
{
    float: left;

    width: 48%;
    height: 200px;
    padding: 30px;

    background-color: #e2e2e2;
}

#register-page .space
{
    float: left;

    width: 4%;
}

#register-page .instructions .box h2
{
    margin: 0;
}

#register-page .box ul,
#register-page ul li
{
    line-height: 1.7;

    margin: 0;
    padding: 0;

    list-style: none;
}

#register-page .thumb
{
    float: left;

    width: 15%;
}

#register-page .thumb img
{
    width: 100%;
}

#register-page .infos
{
    float: left;

    width: 85%;
}

#register-page .infos p
{
    margin: 0;
    padding-left: 15px;
}

#register-page .bank-info
{
    padding: 10px 0 0;
}

#reg-form-emblems
{
    padding-top: 15px;
}

#reg-form-emblems .emblem-col
{
    float: left;

    width: 20%;

    text-align: center;
}

#reg-form-emblems .emblem-col.active
{
    background-color: #222;
}

#reg-form-emblems .emblem-col img
{
    width: 100%;

    border-radius: 100%;
}

#reg-form-emblems .emblem-col
{
    padding: 15px;

    border-right: 1px solid #c1c1c1;
}

#reg-form-emblems .emblem-col.last
{
    border: none;
}

#reg-form-emblems .btn
{
    padding: 20px 0;
}

#reg-form-emblems .btn a
{
    font-size: 10px;
    font-weight: bold;

    display: inline-block;

    padding: 8px 20px;

    text-decoration: none;

    color: #fff;
    border-radius: 5px;
    background-color: #727272;
}

#reg-form-emblems .btn a:hover
{
    background-color: #414141;
}

#reg-form-body
{
    padding: 20px;

    background-color: #222;
}

#reg-form-body .side-menu
{
    float: left;

    width: 15%;

    text-align: center;
}

#reg-form-body .side-menu .menu-container
{
    padding: 15px;
}

#reg-form-body .side-menu .menu-container.active
{
    background-color: #fff;
}

#reg-form-body .side-menu a
{
    font-size: 1.2em;
    font-weight: bold;

    display: block;

    padding: 40px 20px;

    text-decoration: none;

    color: #000;
    background-color: #dbdbdb;
}

#reg-form-body .form-contents
{
    font-family: 'colaboratelightregular';
    font-size: 18px;

    float: left;

    width: 85%;
    padding: 15px;

    background-color: #fff;
}

#reg-form-body .form-contents .fcontent
{
    padding: 15px;

    text-align: right;

    border: 1px solid #c1c1c1;
}

.fcontent
{
    min-height: 626px;
}

.fcontent form input[type='text'], select , .fcontent form input[type='number']
{
    min-width: 450px;
    min-height: 34px;
    margin-left: 20px;
    padding: 5px;

    border: 1px solid #c1c1c1;
    border-radius: 5px;
}

.fcontent .btn-submit
{
    padding: 20px 0;

    text-align: center;
}

.btn-submit input[type='submit']
{
    padding: 12px 60px;

    color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #727272;
}

.group-btn
{
    text-align: left;
}

.group-btn a
{
    font-size: 12px;
    font-weight: bold;

    padding: 8px;

    text-decoration: none;

    color: #222;
    border: 1px solid #222;
    border-radius: 5px;
}

.group-btn a:hover
{
    color: #fff;
    background-color: #222;
}

.sub-form
{
    margin-top: 30px;
}

.sub-form .label
{
    float: left;

    width: 40%;

    text-align: left;
}

.sub-form .label p
{
    font-size: 14px;

    margin: 0;
    padding: 5px 10px;
}

.sub-form .label p a
{
    text-decoration: none;

    color: #000;
}

.sub-form .label p.active
{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #efefef;
}

.sub-form .label p span.lastname
{
    color: #b2b2b2;
}

.sub-form .label .btn-close a
{
    padding: 0 10px;

    color: #ea0606;
}

.sub-form .label .btn-close a:hover
{
    text-decoration: underline;
}

.sub-form .side-form
{
    float: left;

    width: 60%;
    margin-bottom: 20px;
    padding: 30px;

    border-top-left-radius: 0;
    background-color: #efefef;
}

.sub-form .side-form p input[type='text']
{
    min-width: 300px;
}

.sub-form input.subform-submit
{
    font-size: 14px;
    font-weight: bold;

    padding: 10px 50px;

    border: 1px solid #686868;
    border-radius: 5px;
    background-color: #ddd;
}
.register-close
{
    font-size: 1.5em;
    font-weight: bold;

    padding: 50px 20px 40px;

    text-align: center;

    color: #fff;
}
