.table td
{
    overflow: hidden;

    padding: 10px 5px;

    word-break: normal;

    border-width: 1px;
    border-style: solid;
    border-color: #BDBDBD;
}
.table th
{
    font-weight: normal;

    overflow: hidden;

    padding: 10px 5px;

    word-break: normal;

    border-width: 1px;
    border-style: solid;
    border-color: #BDBDBD;
}
.table
{
    text-align: center;
}
.table .dark-bg {
    background: #333;
    color: white;
    border-color: #000;
}

.table .gray-bg {
    background-color: #E7E7E7;
}