@font-face {
  font-family: 'LeagueGothic-Regular';
  src: url('../fonts/leaguegothic-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/leaguegothic-regular-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/leaguegothic-regular-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'LeagueGothic-Italic';
  src: url('../fonts/leaguegothic-italic-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/leaguegothic-italic-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/leaguegothic-italic-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'LeagueGothic-Condensed';
  src: url('../fonts/leaguegothic-condensed-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/leaguegothic-condensed-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/leaguegothic-condensed-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/leaguegothic-condensed-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Goudy-Regular';
  src: url('../fonts/goudyStM-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/goudyStM-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/goudyStM-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/goudyStM-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Goudy-Italic';
  src: url('../fonts/goudyStM-Italic-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/goudyStM-Italic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/goudyStM-Italic-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/goudyStM-Italic-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body{
	background-color: #000;
  color: #000;
}

/*p{
  font-family: 'Goudy-Regular';
}*/

h1,h2,h3,h4,h5,h6{
  font-family: 'LeagueGothic-Regular';
}

.clear{
	clear: both;
}

.hline{
  height: 1px;
  width: 100%;
  background-color: #FFF;
  margin: 20px 0 10px 0;
}

.container{
	width: 1200px;
	padding: 15px;
	margin: 0 auto;
}

#logo{
	text-align: center;
}

#logo img{
  width: 195px;
  margin-bottom: -155px;
}

#main-nav{
  padding: 0;
}

#main-nav li{
	list-style: none;
	float: left;
	width: 25%;
	text-align: center;
	font-family: 'LeagueGothic-Regular';
	font-size: 36px;
  border: 1px solid #D9D9D9;
}

#main-nav li a{
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
}

#main-nav li:hover{
  background-color: #D9D9D9;
}

#main-nav li a.the-company{
  padding-right: 20px;
}

#main-nav li:nth-child(4){
  background-color: #FFD600;
}

/*Content Styles goes here..*/

.main-content{
  margin-top: 65px;
}

#emblems .emblem-cols{
  width: 25%;
  float: left;
  padding: 0;
  text-align: center;
  background-size: 100%;
}

#emblems .emblem-cols img{
  width: 100%;
  border-radius: 100%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);

  transition: filter .5s ease-in-out, filter .3s ease-in-out;
  -moz-transition: filter .5s ease-in-out, filter .3s ease-in-out;
  -webkit-transition: -webkit-filter .5s ease-in-out, -webkit-filter .3s ease-in-out;
}

#emblems .emblem-cols img:hover{
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);

  transition: filter .5s ease-in-out, filter .3s ease-in-out;
  -moz-transition: filter .5s ease-in-out, filter .3s ease-in-out;
  -webkit-transition: -webkit-filter .5s ease-in-out, -webkit-filter .3s ease-in-out;
}

#emblems .emblem-cols a{
  display: block;
  padding: 50px;
}

#emblems .emblem-cols p{
  font-size: 18px;
  color: #FFF;
  margin-top: 70px;
}

#emblems .emblem-cols.col1{
  background-image: url(../img/emblem1-bg.png);
}

#emblems .emblem-cols.col2{
  background-image: url(../img/emblem2-bg.png);
}

/*Footer*/

#footcols .column{
  width: 50%;
  float: left;
}

#footcols .column p{
  font-family: 'LeagueGothic-Regular';
  font-size: 18px;
  color: #FFF;
  margin-top: 0;
}

#footcols .column.right p{
  text-align: right;
}

/*FOOTER END*/

#events{
  padding-top: 20px;
}

#events .event-box .feat-image img{
  width: 100%;
}

#events .event-box{
  float: left;
  width: 25%;
  position: relative;
}

#events .event-box .event-content{
  padding: 20px;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  color: #FFF;
  bottom: 0;
}

#events .event-content p.title{
  font-size: 2em;
  margin: 0;
  font-family: 'LeagueGothic-Regular';
}

#events .event-content p.subtitle{
  margin: 0;
  font-size: 1.5em;
  font-family: 'LeagueGothic-Regular';
}

#events .event-content p.descriptions{
  font-size: 12px;
  margin-top: 0;
  text-align: justify;
}

#events .event-content a.readmore{
  color: #FFF;
  padding: 8px;
  border: 2px solid #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'LeagueGothic-Regular';
  letter-spacing: 1px;
  font-weight: normal;
}

/*Header styles version 2*/

#logo2{
  text-align: center;
}

#home-nav{
  margin-top: -220px;
}

#home-nav .smenu{
  float: left;
  width: 20%;
  padding: 50px;
}

#home-nav .smenu img{
  width: 100%;
}