.clear
{
    clear: both;
}

.container
{
    width: 1170px;
}

#registration .emblems
{
    font-size: 10px;

    float: left;

    width: 20%;
    margin: 40px 0;
}

#registration .emblems img
{
    width: 100%;
}

#registration .content
{
    padding: 15px;
    padding-bottom: 0;

    border-right: 1px solid #c1c1c1;
}

#registration .emblems.last .content
{
    border: none;
}

#registration .emblems .content p
{
    font-weight: bold;

    margin: 0;
    padding: 5px;

    text-align: center;

    color: #fff;
    border-top: 1px solid #fff;
    background-color: #000;
}

#registration table
{
    width: 100%;
    margin-top: 10px;
}

#registration table tr td
{
    font-weight: bold;

    padding: 10px 7px;
    padding-right: 0;

    border: 1px solid #727272;
}

#registration .emblems .btn
{
    padding: 20px 0;

    text-align: center;
}

#registration .btn a
{
    font-weight: bold;

    display: inline-block;

    padding: 8px 20px;

    text-decoration: none;

    color: #fff;
    border-radius: 5px;
    background-color: #727272;
}

#registration .btn a:hover
{
    background-color: #414141;
}

.page .thank-you {
    text-align: center;
}
