.clear{
	clear: both;
}

.container{
	width: 1170px;
	margin: 0 auto;
}

.fixed {
    position: fixed !important;
    z-index: 110;
    top:0; left:0;
    width: 100%; 
}

#sub-page-tux-header .container,
header#sub-page-tux-header{
	background-color: #222;
	background-image: url('../img/black-leather-bg.jpg');
	background-size: 25%;
	position: relative;
}

#sub-page-tux-header ul.tux-sub-menu{
	list-style: none;
	padding: 0 300px;
}

#sub-page-tux-header ul.tux-sub-menu li{
	list-style: none;
	text-align: center;
	width: 33.33%;
	float: left;
}

#sub-page-tux-header ul.tux-sub-menu li:nth-child(1){
	padding-right: 10px;
	padding-left: 20px;
}

#sub-page-tux-header ul.tux-sub-menu li:nth-child(2){

}

#sub-page-tux-header ul.tux-sub-menu li:nth-child(3){
	padding-left: 10px;
	padding-right: 20px;
}

#sub-page-tux-header ul.tux-sub-menu li a{
	display: block;
}

#sub-page-tux-header ul.tux-sub-menu li a.menu-btn{
	border: 1px solid #FFF;
	padding: 12px;
	color: #FFF;
	text-decoration: none;
	font-family: 'caviar_dreamsregular';
	text-transform: uppercase;
	margin-top: 65px;
}

#sub-page-tux-header ul.tux-sub-menu li a.menu-btn:hover{
	background-color: rgba(255, 255, 255, .2);
}

#sub-page-tux-header ul.tux-sub-menu li a.logo{
	background-color: #222;
	border-radius: 100%;
	padding: 15px;
	margin-bottom: -90px;
	display: block;
	background-image: url('../img/black-leather-bg.jpg');
	background-size: 200%;
}

#sub-page-tux-header ul.tux-sub-menu li a img{
	width: 100%;
}

.cover-photo .img {
    width: 100%;
}

.cover-photo {
    background: #111111;
}
#sub-page-tux-header .compact-menu li a.menu-btn {
    margin-top: 23px !important;
}

#sub-page-tux-header .compact-menu li a.logo {
    padding: 10px;
    margin: 0 !important;
    border-radius: 0;
    display: inline-block !important;
}

#sub-page-tux-header .compact-menu li .logo img {
    width: 65px;
}
/*#sub-page-tux-header .compact-menu {
     display: none; 
}
*/