ul#leadership-challenges,
ul#leadership-challenges li{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul#leadership-challenges li .thumb{
	width: 20%;
	float: left;
	padding-top: 40px;
}

ul#leadership-challenges li .thumb img{
	width: 100%;
	border-radius: 100%;
}

ul#leadership-challenges li .lc-content{
	width: 80%;
	float: left;
	padding-left: 30px;
}

ul#leadership-challenges li .lc-content p.title{
	color: #C4C4C4;
	font-size: 2em;
	padding-left: 0;
	margin-bottom: 0;
}

ul#leadership-challenges li .lc-content p{
	padding-left: 33px;
	text-align: justify;
}

.no-radius img{
	border-radius: 0!important;
}