.tuxedo-carousel {
	width: 100%;
	margin: 0 auto 0;
}

.carousel-img > img {
	width: 100%;
}

#outside{
	border: 1px solid #000;
}

span#prev {
	padding: 5px;
	border: 1px solid black;
	display: block;
	width: 100px;
	margin-top: 10px;
	margin-left: -17px;
	background-color: black;
	color: white;
	text-align: center;
}

span#next {
	padding: 5px;
	border: 1px solid black;
	display: block;
	width: 100px;
	margin-top: 10px;
	margin-left: 234px;
	background-color: black;
	color: white;
	text-align: center;
}