<!DOCTYPE html>
<html>
<head>
  <title>Tuxedo Institute of the Philippines</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/admin-login.css">
  <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
     <section class="container">    
        <section id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <section class="logo">
          <img src="/img/logo-tuxedo.png" class="img">
        </section>                    
            <section class="panel panel-info" >
                    <section class="panel-heading">
                        <section class="panel-title">Sign In</section>
                    </section>     

                    <section class="panel-body" >                        
                        <form action="<%= jlink('AdminController' , 'dashboard') %>" method="POST" id="loginform" class="form-horizontal" role="form">

                            <section id="login-alert" class="alert <%= alert %> alert-danger col-sm-12"><%= message %></section>
                            <section class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="login-username" type="text" class="form-control" name="email" value="" placeholder="username or email"  autofocus required>                                        
                                    </section>
                                
                            <section class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="login-password" type="password" class="form-control" name="password" placeholder="password" required>
                                    </section>
                                    

                                
                            <section class="input-group">
                                    </section>


                                <section class="form-group">
                                    <!-- Button -->

                                    <section class="col-sm-12 controls">
                                      <input type="submit" value="Login" class="btn btn-success">
                                    </section>
                                </section>
                        </form>
                    </section>
            </section>
        </section>  
      </section>                 
</body>
</html>