<!DOCTYPE html>
<html>
<head>
  <title>Tuxedo Institute of the Philippines</title>
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/grid.css">
  <link rel="stylesheet" href="/css/global-styles.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <div id="registration">
      <div class="emblems">
        <div class="content">
          <a href><img src="/img/le-maste-emblem.jpg" alt=""></a>
          <p>Le Maste</p>
        </div>
      </div>
      <div class="emblems">
        <div class="content">
          <a href="https://docs.google.com/spreadsheets/d/1uc2jDrWz86yG4Dms_O0h_cvwsFo-alMF5atJBHWoqO4/edit#gid=0" target="_block"><img src="/img/el-liderato-emblem.jpg" alt=""></a>
          <p>El Liderato</p>
        </div>
      </div>
      <div class="emblems">
        <div class="content">
          <a href><img src="/img/dux-gregis-logo.png" alt=""></a>
          <p>Dux Gregis</p>
        </div>
      </div>
      <div class="emblems">
        <div class="content">
          <a href><img src="/img/colloquium-logo.png" alt=""></a>
          <p>Colloquium</p>
        </div>
      </div>
      <div class="emblems last">
        <div class="content">
          <a href><img src="/img/roundtable-logo.png" alt=""></a>
          <p>Roundtable</p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</body>
</html>