      
      <%
        function activeTab ( tab ) {
          return (active == tab) ? 'active' : '';
        }
      %>
      <section class="sidebar">
        <section class="el-logo">
          <img src="/img/el-liderato-emblem.jpg">
        </section>
        <section class="event-details">
          <section class="date">
            <p>December 19-21, 2014</p>
          </section>
          <section class="location">
            <p>CWC, Camarines Sur, Philippines</p>
          </section>
        </section>
        <section class="el-menu">
          <ul>
            <li><a href="<%= jlink('EllideratoController') %>" class="<%= activeTab('main') %>">Official Training Overview</a></li>
            <li><a href="<%= jlink('EllideratoController' , 'guidelines') %>" class="<%= activeTab('guidelines') %>">National Guidelines</a></li>
            <li><a href="<%= jlink('AppController' , 'register') %>">Register Online</a></li>
            <li><a target="_blank" href="https://drive.google.com/file/d/0By7gtr9H4_hdQnZobERaTnVndjQ/view?usp=sharing">CHED Memorandum</a></li>
            <li><a href="<%= jlink('EllideratoController' , 'organizers') %>" class="<%= activeTab('organizers') %>">Organizers and Partners</a></li>
            <li><a href="<%= jlink('EllideratoController' , 'venue') %>" class="<%= activeTab('venue') %>">Official Venue</a></li>
            <li><a href="<%= jlink('EllideratoController' , 'travelguide') %>" class="<%= activeTab('travelguide') %>">Travel Guide</a></li>
            <li><a href="<%= jlink('EllideratoController' , 'program') %>" class="<%= activeTab('program') %>">National Program</a></li>
            <li><a href="<%= jlink('EllideratoController' , 'challenges') %>" class="<%= activeTab('challenges') %>">Ten (10) National Leadership Challenges</a></li>
            <li><a href="<%= jlink('EllideratoController' , 'discussions') %>" class="<%= activeTab('discussions') %>">Eight (8) National Leadership Discussions</a></li>
            <li><a target="_blank" href="https://drive.google.com/file/d/0B6PsrXuL2AOOeFN0NjZCZDlXcHppeS1TUVFiRzA3UWx6Z3Jv/view?usp=sharing">Dress Code &amp; Things To Bring</a></li>
            <li class="last-child"><a href="<%= jlink('AppController' , 'contact') %>">Contact Details</a></li>
          </ul>
        </section>
      </section>